
@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/orbitron/400.css";

html {
  overflow-x: hidden;
}

header {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
